extends layout

block content
  header
    .container
        h1.title.is-2 Dashboard
        hr

  main.dashboard(data-username=`${name}`)
    //- section.dashboard__hero

    section.dashboard__table.dashboard__table--custom
      .container
        h3.title.is-3 Custom Threads
          .new-thread__container.field.has-addons
            .control
              input.input.new-thread-title(type="text" placeholder="Title")
            .control
              a.button.is-primary.new-thread New Thread
        table.table.is-bordered.is-striped.is-fullwidth
          thead
            tr
              th Title
              th Permalink/ID
              th Embed
          tbody
              each val in threads
                tr
                  td= val['title']
                  td: a(href=`/viewer/custom-thread/finallycomments/@${val['author']}/${val['slug']}` target="_blank") #{val['slug']}
                  td
                    button.button.is-dark.load-embed(data-permlink=`/finallycomments/@${val['author']}/${val['slug']}` data-generated='true') Generate
              else
               tr
                td.no-custom-threads   No custom threads yet..
                td
                td

    section.dashboard__table.dashboard__table--steem
      .container
        h3.title.is-3 Steem Posts
        table.table.is-bordered.is-striped.is-fullwidth
          thead
            tr
              th Comments
              th Permalink/ID
              th Embed
          tbody
        .button.is-link.load-more-posts Load More Posts

    section.overlay
      .overlay__bg
      .overlay__content
          h2.title Embed Code
          .field
            .control
              label.checkbox
                input.embed-control(type="checkbox" data-value="votes" checked)
                span Show Vote Values
              label.checkbox
                input.embed-control(type="checkbox" data-value="reputation" checked)
                span Show User Reputation
              label.checkbox
                input.embed-control(type="checkbox" data-value="profile" checked)
                span Show User Profile
          pre
            code.embed-code.language-html
