extends layout

block content
  header.landing
    .container
      h1 Finally.
      h2 A comments system that <br> rewards authors.
      .header__links
        a.button.is-primary(href="#get-started") Get Started
        a.button(href="#intro") Learn More
    .finally-logo
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#fff;}.cls-2,.cls-3{fill:#010101;}.cls-3{font-size:111px;font-family:Helvetica-BoldOblique, Helvetica;font-weight:700;}.cls-4{letter-spacing:-0.09em;}.cls-5{letter-spacing:-0.02em;}</style></defs><title>Artboard 1</title><path class="cls-1" d="M730,546c0,14.17-11.48,25.31-26.09,25.31H651.7a24.54,24.54,0,0,0-14.61,10.12c-21,31.46-36.52,90.09-59.48,99.2-2.09-5.06-6.26-13.16-8.35-20.24-14.61-34.42-35.48-85-75.13-89.08h-265C214.48,571.27,203,560.13,203,546l24-133.65c0-14.17,11.48-25.31,26.09-25.31H728.92c14.61,0,26.09,11.13,26.09,25.31L731,546Z"/><path class="cls-2" d="M722.76,360.88H262.18c-30.3,0-55.55,24.31-55.55,53.48L183.39,542.75c0,29.17,25.25,53.48,55.55,53.48H489.44c21.21,0,40.4,40.84,50.5,67.09,10.1,24.31,16.16,36.95,31.31,36.95h0c9.09,0,55.55-4.86,87.87-104h40.4c30.3,0,55.55-24.31,55.55-53.48l23.24-128.39C778.31,385.19,753.06,360.88,722.76,360.88Zm2,181.87c0,13.61-11.11,24.31-25.25,24.31H649a23.78,23.78,0,0,0-14.14,9.72c-20.35,30.22-35.35,86.54-57.57,95.29-2-4.86-6.06-12.64-8.08-19.45-14.14-33.06-34.34-81.68-72.72-85.57H240c-14.14,0-25.25-10.7-25.25-24.31l23.24-128.39c0-13.61,11.11-24.31,25.25-24.31H723.77c14.14,0,25.25,10.7,25.25,24.31L725.78,542.75Z"/><text class="cls-3" transform="translate(244.43 521.91)">FINAL<tspan class="cls-4" x="326.77" y="0">L</tspan><tspan class="cls-5" x="384.38" y="0">Y</tspan></text></svg>


  main
    section.intro#intro
      .container
        h3.title How it Works
        p.sub-content Finally is a comments system for your website that is powered by the #[a.content-link(href="https://steem.io") Steem blockchain], thus providing rewards for the author and commenters. Finally works effortlessly with minimal setup reuired, include a single html tag along with our javascript library and let our system take care of the rest.
        br
        p.sub-content Finally uses #[a.content-link(href="https://steemconnect.com/") Steemconnect authentication] to allow users to post comments and upvote content & comments from anywhere Finally is embedded. Once authenticated with Finally users will not have to log in again when visiting other sites that also use Finally.

    section.generate#get-started
      .container
        .columns
          .column.is-half
            h3.title Get Started
            p.sub-content The fastest way to embed any of your recent comment threads from Steemit (or any Steem based platform) is to login to our dashboard where you can see a complete list of your posts. Generate the embed code for any post with one click.
            br
            p
              a.button.is-medium.is-light(href="/auth/dashboard") Login With Steemconnect
            br

    section.example
      .container
        h3.title Finally The Comments Section
        .finally-comments(
          data-id="https://finallycomments.com/api/thread/sambillingham/hellomars"
          data-reputation="true"
          data-values="true"
          data-profile="true"
          data-generated="true"
          data-api="true"
          )


  footer
    p Created by #[a(href="http://sambillingham.com") Sam billingham] for the #[a(href="https://steem.io") Steem Blockchain] ✌️
