extends layout

block content
  unless auth
  section.sc-section(data-auth-url=`/auth/${thread}` data-auth=`${auth}` data-profileimage=`${profileImage}` data-steemlink=`${thread}` data-username=`${username}` )
  script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js")
